version: '3'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: your_user
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_database
    volumes:
      - ./sql-scripts:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  solution:
    build:
      context: ./solution
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: your_user
      DB_PASSWORD: your_password
      DB_NAME: your_database # Add this environment variable to specify the host of the data-loader service
      DEVELOP_SERVER: false
      SKIP_LOAD_DATA: false


